.xiButton {
	-moz-box-shadow: 0px 10px 6px -6px #3e7327;
	-webkit-box-shadow: 0px 10px 6px -6px #3e7327;
	box-shadow: 0px 10px 6px -6px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:0px 2px 1px #5b8a3c;
}
.xiButton:disabled {
	-moz-box-shadow: 0px 10px 6px -6px #aaaaaa;
	-webkit-box-shadow: 0px 10px 6px -6px #aaaaaa;
	box-shadow: 0px 10px 6px -6px #aaaaaa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #cccccc));
	background:-moz-linear-gradient(top, #999999 5%, #cccccc 100%);
	background:-webkit-linear-gradient(top, #999999 5%, #cccccc 100%);
	background:-o-linear-gradient(top, #999999 5%, #cccccc 100%);
	background:-ms-linear-gradient(top, #999999 5%, #cccccc 100%);
	background:linear-gradient(to bottom, #999999 5%, #cccccc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#cccccc',GradientType=0);
	background-color:#aaaaaa;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #aaaaaa;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:0px 2px 1px #aaaaaa;
}
.xiButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.xiButton:active {
	position:relative;
	top:1px;
}
#btnZoomTo2:disabled {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #777777), color-stop(1, #cccccc));
    text-shadow:0px 2px 1px #999999;
    border:1px solid #666666;
    box-shadow: 0px 10px 6px -6px #555555;
    font-weight:normal;
}
#btnPopulateAttributes2:disabled {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #777777), color-stop(1, #cccccc));
    text-shadow:0px 2px 1px #999999;
    border:1px solid #666666;
    box-shadow: 0px 10px 6px -6px #555555;
    font-weight:normal;
}
#test  {
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, green, red);
    background: -moz-linear-gradient( to left top, green, red);
    background: -ms-linear-gradient( to left top, green, red);
    background: -o-linear-gradient( to left top, blue, red);
    background: linear-gradient( #bbbbbb, #ffffff);    
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.xiDiv {
	margin-bottom: 7px;
	margin-top: 7px;
	font-family: Tahoma;
	font-weight: bold;
    margin-left:5px;
}
.xiText{
		background-color: #EEE9BA;
}
.xiDiv{

	color: #4242E6;
}
.xiDivContent {
    margin-top:5px;
    margin-right: 5px;
}
label {
	margin-bottom: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

input:checked + .slider {
  background-color: #009530;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round:before {
  border-radius: 50%;
  background: #FFD100;
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
  background: gray;

}

.lbl{
    margin-left:50px;
    white-space: nowrap;
    color: black;
    font-weight: normal;
}

.style-1 input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]{
	border-radius: 5px;
	padding-left: 5px;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #969696;
}
label.dropdown select {
	padding: 5px 42px 5px 10px;
	background: #cdcdf3;
	color: #000;
	border: 1px solid #aaa;
	border-radius: 10px;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none;
}
label.dropdown select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #444;
}
label.dropdown select::-ms-expand {
	display: none;
}
label.dropdown:before {
	content: '';
	right: 5px;
	top: -7px;
	width: 70px;
	background: #f8f8f8;
	position: absolute;
	pointer-events: none;
	display: block;
}
label.dropdown { position: relative; }
label.dropdown:after {
	content: '>';
	font: 16px Consolas, monospace;
	color: #444;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 2px;
	top: -3px;
	position: absolute;
	pointer-events: none;
	width: 35px;
	padding: 0 0 5px 0;
	text-indent: 14px;
}
